<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio MegaFit</title>
    
</head>
<body>
    <header>
        <h1>Gimnasio MegaFit</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Conócenos</a></li>
                <li><a href="#instalaciones">Instalaciones</a></li>
                <li><a href="#horarios">Horarios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio">
        <h2>Bienvenido al Gimnasio Megafit</h2>
        <p>¡Mejora tu salud y bienestar con nuestra variedad de clases y equipos de última generación!</p>
        <p>Contarás además con el asesoramiento de grandes profesionales con años de experiencia en el sector del fitness.</p>
        <p>¿A qué esperas para mejorar tu vida?</p>
    </section>

    <section id="instalaciones">
        <h2>Nuestras Instalaciones</h2>
        <img src="/assets/Imagenes/imagen1.jpg" class="instalacion" width="600" height="400">
        <img src="/assets/Imagenes/imagen2.jpg" class="instalacion" width="600" height="400">
        <img src="/assets/Imagenes/imagen3.jpg" class="instalacion" width="600" height="400">
    </section>

    <section id="horarios">
        <h2>Horarios</h2>
        <table>
            <tr>
                <td>Lunes - Viernes</td>
                <td>10:00 - 22:00</td>
            </tr>
            <tr>
                <td>Sábado</td>
                <td>10:00 - 16:00</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td>Cerrado</td>
            </tr>
        </table>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <address>
            Dirección: Av. Ejemplo #123, Ciudad Ejemplo<br>
            Teléfono: 123-456-7890<br>
            Correo Electrónico:
        </address>
    </section>

    <footer>
        <p>&copy; 2024 Gimnasio MegaFit. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
