<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio XYZ</title>
    <!-- Etiqueta meta para establecer el juego de caracteres y la vista adaptable -->
    <!--<link rel="stylesheet" href="styles.css">-->
    <!-- Enlace a un archivo externo de estilos CSS -->
</head>
<body>
    <header>
        <h1>Gimnasio XYZ</h1>
        <!-- Encabezado principal con el nombre del gimnasio -->
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#clases">Clases</a></li>
                <li><a href="#horarios">Horarios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <!-- Navegación con enlaces a diferentes secciones de la página -->
        </nav>
    </header>

    <section id="inicio">
        <h2>Bienvenido al Gimnasio XYZ</h2>
        <p>¡Mejora tu salud y bienestar con nuestra variedad de clases y equipos de última generación!</p>
        <!-- Sección de inicio con información de bienvenida -->
    </section>

    <section id="clases">
        <h2>Nuestras Clases</h2>
        <ul>
            <li>Clase de Spinning</li>
            <li>Yoga</li>
            <li>Pilates</li>
            <li>Zumba</li>
        </ul>
        <!-- Sección que enumera las clases ofrecidas por el gimnasio -->
    </section>

    <section id="horarios">
        <h2>Horarios</h2>
        <table>
            <tr>
                <th>Clase</th>
                <th>Días</th>
                <th>Horario</th>
            </tr>
            <tr>
                <td>Spinning</td>
                <td>Lunes - Miércoles - Viernes</td>
                <td>8:00 am - 9:00 am</td>
            </tr>
            <tr>
                <td>Yoga</td>
                <td>Martes - Jueves</td>
                <td>6:00 pm - 7:00 pm</td>
            </tr>
            <!-- Tabla que muestra los horarios de las clases -->
        </table>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <address>
            Dirección: Av. Ejemplo #123, Ciudad Ejemplo<br>
            Teléfono: 123-456-7890<br>
            Correo Electrónico: 
        </address>
        <!-- Sección de contacto con información de contacto del gimnasio -->
    </section>

    <footer>
        <p>&copy; 2024 Gimnasio XYZ. Todos los derechos reservados.</p>
        <!-- Pie de página con derechos de autor -->
    </footer>
</body>
</html>
