/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "NunitoSans";
    src: url("/src/assets/fonts/NunitoSans.ttf") format('truetype');
}

@font-face {
    font-family: "NunitoSans-bold";
    src: url("/src/assets/fonts/NunitoSans_7pt-Bold.ttf") format('truetype');
}
/* Estilos generales */
body {
    
   
    margin: 0;
    padding: 0;
    background-color: #c3c5a3;
    font-family: "NunitoSans-bold", sans-serif;
    /* Establece la fuente predeterminada, margen y relleno a 0, y el color de fondo de la página */
}


header {
    font-family: "NunitoSans-bold", sans-serif;
    background-color: #160606;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Estilos para el encabezado */

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
/* Estilos para la barra de navegación */

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

section h2 {
    color: #333;
}
/* Estilos para las secciones */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/* Estilos para el pie de página */
